* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    height: 50px;
    width: 50px;
    border-radius:  50px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background-color: #5f358f;
    color: white;
    padding: 1rem;
    text-align: justify;
}

header h1 {
    display: inline;
}

.byacierrence{
    text-decoration: underline;
    color: #ccc;
}

nav ul {
    display: inline;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ccc;
}

.hero {
    background-color: #1a73e8;
    color: white;
    padding: 2rem;
    margin: 1rem 0;
    text-align: center;
}

.content {
    padding: 1rem;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.dark-theme {
    background-color: #222;
    color: #ccc;
}

.dark-theme header,
.dark-theme footer {
    background-color: #444;
}

.dark-theme .hero {
    background-color: #555;
}

.theme-toggle {
    display: inline-block;
    padding: 5px;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
}

.crypto-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
}

/* Estilos responsive para pantallas medianas */
@media screen and (max-width: 992px) {
    .crypto-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Estilos responsive para pantallas pequeñas */
@media screen and (max-width: 600px) {
    .crypto-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.crypto-card {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease;
}

.crypto-card:hover {
    transform: translateY(-10px);
}

.crypto-name {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.crypto-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1a73e8;
}

.dark-theme .crypto-card .crypto-name{
    color: rgba(0, 0, 0, 0.8);
}