/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.formulario-container {
    background-color: white;
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%; /* Esto crea la forma circular del contenedor */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease; /* Añade una transición para suavizar el cambio de tamaño */
}

.formulario-container:hover {
    transform: scale(1.05); /* Aumenta el tamaño del contenedor en un 5% al pasar el cursor sobre él */
}

h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #155ec7;
    animation: moveTitle 3s linear infinite; /*Con esto Aplicas la animacion personalizada al Titulo.*/
}

h2 {
    margin-bottom: 20px;
}

@keyframes moveTitle { /*Pero para aplicarla necesitas exactamente esto*/
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(100px); /* Cambia la distancia que se desplaza el título */
    }
    100% {
        transform: translateX(0px);
    }
}

label {
    display: block;
    margin: 10px 0;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: none;
}

input[type="number"], input[type="edad"], textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: none;
}

input[type="submit"] {
    display: block;
    background-color: #1a73e8;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #155ec7;
}